*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: #202020;
}
section .container{
    top: 250px;
    position: relative;
    min-width: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}
section .container .element{
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #888888;
    scale: 0.75;
}